<div class="col-3">
	<div class="menu">
		<h3>DƯỠNG DA MẶT</h3>
		<ul class="nav sub-menu">
			<li class="active"><a href="">Rửa mặt</a></li>
			<li><a href="">Cân bằng</a></li>
			<li><a href="">Tinh chất & Đặc trị</a></li>
			<li><a href="">Dưỡng ẩm</a></li>
			<li><a href="">Chống nắng</a></li>
			<li><a href="">Dưỡng vùng mắt</a></li>
			<li class="last"><a href="">Dưỡng môi</a></li>
		</ul>
	</div>				
</div>
<div class="col-9 content">
	<div class="row col-12 poster">		
		<%= link_to image_tag("poster.png", alt: "poster"), '#' %>
	</div>
	<div class="row col-12 soluongsp">
		<p>8 sản phẩm có sẵn</p>
	</div>
	<div class="row col-12 products">
		<div class="product">
			<div class="sanpham">
				<%= image_tag("products/1.jpg", alt: "product") %>
				<p class="tensp">Jumbo Tea Tree Skin Clearing Facial Wash</p>				
			</div>		
			<p class="giasp">VND 489.000</p>				
			<div class="link"><a href="">Xem chi tiết</a></div>
		</div>
		<div class="product">
			<div class="sanpham">
				<%= image_tag("products/2.jpg", alt: "product") %>
				<p class="tensp">Tea Tree Cool & Creamy Wash</p>
			</div>						
			<p class="giasp">VND 339.000</p>
			<div class="link"><a href="">Xem chi tiết</a></div>
		</div>
		<div class="product">
			<div class="sanpham">
				<%= image_tag("products/3.jpg", alt: "product") %>
				<p class="tensp">Tea Tree Skin Clearing Foaming Cleanser </p>
			</div>						
			<p class="giasp">VND 469.000</p>
			<div class="link"><a href="">Xem chi tiết</a></div>
		</div>
		<div class="product">
			<div class="sanpham">
				<%= image_tag("products/4.jpg", alt: "product") %>
				<p class="tensp">Tea Tree Skin Clearing Facial Wash</p>
			</div>						
			<p class="giasp">VND 319.000</p>
			<div class="link"><a href="">Xem chi tiết</a></div>
		</div>
		<div class="product">
			<div class="sanpham">
				<%= image_tag("products/5.jpg", alt: "product") %>
				<p class="tensp">Tea Tree Cleansing Wipes</p>
			</div>						
			<p class="giasp">VND 309.000</p>
			<div class="link"><a href="">Xem chi tiết</a></div>
		</div>
		<div class="product">
			<div class="sanpham">
				<%= image_tag("products/6.jpg", alt: "product") %>
				<p class="tensp">Tea Tree Blotting Tissues </p>
			</div>						
			<p class="giasp">VND 85.000</p>
			<div class="link"><a href="">Xem chi tiết</a></div>
		</div>
		<div class="product">
			<div class="sanpham">
				<%= image_tag("products/7.jpg", alt: "product") %>
				<p class="tensp">Vitamin E Cream Cleanser</p>
			</div>						
			<p class="giasp">VND 359.000</p>
			<div class="link"><a href="">Xem chi tiết</a></div>
		</div>
		<div class="product">
			<div class="sanpham">
				<%= image_tag("products/8.jpg", alt: "product") %>
				<p class="tensp">Vitamin E Gentle Facial Wash</p>
			</div>						
			<p class="giasp">VND 299.000</p>
			<div class="link"><a href="">Xem chi tiết</a></div>
		</div>
	</div>				
</div>