<aside class="col-3">
	<section class="menu user-aside">
		<h3><%= @user.name.upcase %></h3>		
		<ul class="nav sub-menu">			
			<li><%= link_to "Users", users_path, remote: true %></li>
			<li><%= link_to "Products", products_path, remote: true %></li>
			<li><%= link_to "Watching list", watching_user_path(@user), remote: true %></li>
			<li><%= link_to "Update profile", edit_user_path(@user), remote: true %></li>				
			<li class="last">
				<%= link_to "Log out", logout_path, method: 'delete' %>
			</li>
		</ul>
	</section>				
</aside>