<aside class="col-lg-3" id="aside">
	<section class="aside-menu">
		<h3><%= @user.name.upcase %></h3>		
		<ul class="nav sub-menu">			
			<li><%= link_to "Watching list", watching_user_path(@user), remote: true %></li>
			<li><%= link_to "Shopping cart", cart_path %></li>
			<li><%= link_to "Update profile", edit_user_path(@user), remote: true %></li>				
			<li class="last">
				<%= link_to "Log out", logout_path, method: 'delete' %>
			</li>
		</ul>
	</section>				
</aside>