<div class="menu order-detail">
	<h3>YOUR SHOPPING CART</h3>
	<ul class="nav sub-menu">
		<li>
			<div class="row">
				<div class="col-6"><p>Sub total:</p></div>
				<div class="col-6"><p class="text-right"><%= number_to_currency @order.subtotal %></p></div>					
			</div>
		</li>	
		<li>
			<div class="row">
				<div class="col-6"><p>Tax (VAT) 10%:</p></div>
				<div class="col-6"><p class="text-right"><%= number_to_currency @order.tax %></p></div>		
			</div>
		</li>		
		<li class="border-bottom">
			<div class="row">
				<div class="col-6"><p>Shipping:</p></div>
				<div class="col-6"><p class="text-right"><%= number_to_currency @order.shipping %></p></div>					
			</div>
		</li>		
		<li>
			<div class="row">
				<div class="col-6"><p class="text-bold">Total:</p></div>
				<div class="col-6"><p class="text-right text-bold text-green"><%= number_to_currency @order.total %></p></div>					
			</div>
		</li>				
	</ul>
	<div><%= link_to 'Place order', '#', class: 'link link-primary' %></div>
</div>				
