<div class="col-3">
	<div class="menu order-detail">
		<h3>YOUR SHOPPING CART</h3>
		<ul class="nav sub-menu">
			<li>
				<div class="row">
					<div class="col-6"><p>Sub total:</p></div>
					<div class="col-6"><p class="text-right"><%= number_to_currency @order.subtotal %></p></div>					
				</div>
			</li>	
			<li>
				<div class="row">
					<div class="col-6"><p>Tax (VAT) 10%:</p></div>
					<div class="col-6"><p class="text-right"><%= number_to_currency @order.tax %></p></div>					
				</div>
			</li>		
			<li class="border-bottom">
				<div class="row">
					<div class="col-6"><p>Shipping:</p></div>
					<div class="col-6"><p class="text-right"><%= number_to_currency @order.shipping %></p></div>					
				</div>
			</li>		
			<li>
				<div class="row">
					<div class="col-6"><p class="text-bold">Total:</p></div>
					<div class="col-6"><p class="text-right text-bold text-green"><%= number_to_currency @order.total %></p></div>					
				</div>
			</li>				
		</ul>
		<div class="link"><%= link_to 'Place order', '#' %></div>
	</div>				
</div>

<div class="col-9 content">	
	<div class="row shopping-cart">		
		
		<%= render 'shopping_cart' %>
			
	</div>

	<div class="row customer-service">
		<div class="col-2">
			<%= link_to "Tiep tuc mua hang", root_path, class: "text text-pink text-hover text-bold" %>
		</div>
		<div class="col-10">
			<ul class="nav nav-inline">
				<li><a href="#">Shopping terms |</a></li>
				<li><a href="#"> Dieu kien giao hang</a></li>
			</ul>
		</div>
	</div>
</div>