<div class="row" id="catalogue-<%= sub.id %>" style="margin-top: 10px;"> 
	<div class="col-11 row">
		<%= form_for(sub, remote: true) do |f| %>
		<div class="col-10">      
      <%= f.text_field :name %>     
    </div> 
    <div class="col-2">   
    	<%= f.hidden_field :parent_id, value:  sub.parent_id %>    
      <%= f.submit "Update", class: "btn btn-default" %>         
    </div> 
    <% end %>   
	</div>
	<div class="col-1">
	  <%= link_to "Delete", sub, method: :delete, data: { confirm: "You sure?" }, remote: true, class: 'btn btn-default' %>
  </div>
</div>