<div class="col-lg-8 col-lg-offset-2">
	<h3 class="text-center">Add new product</h3>

	<%= form_for(@product, html: { multipart: true }, remote: true) do |f| %>
	  <%= render partial: 'shared/error_messages', locals: { object: f.object } %>

		<div id="catalogues">
			<%= f.collection_select(:catalogue_id, @catalogues, :id, :name) %>			
		</div>		
		
		<%= f.label :name %>
	 	<%= f.text_field :name, placeholder: "Name...", class: "form-control" %>

	 	<%= f.label :description %>
	 	<%= f.text_area :description, placeholder: "Description...", class: "form-control" %>

	 	<%= f.label :price %>
	 	<%= f.number_field :price, value: 1, min: 1, class: "form-control" %>

	 	<%= f.label :quantity %>
	 	<%= f.number_field :quantity, value: 1, min: 1, class: "form-control" %>	  
		
	  <div><%= f.submit "Add", class: "link link-primary form-control" %></div>

	  <div class="picture">
	  	<%= f.label :picture %>
	    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>	   
	  </div>

	<% end %>
</div>

<script type="text/javascript">
  $('#product_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });  
</script>