<div class="col-lg-3" id="product-<%= product.id %>">	
	<div class="product">
		<div class="pro-image">
			<%= render partial: 'products/product_image', locals: { product: product } %>
			<p class="pro-name"><%= product.name %></p>				
		</div>		
		
		<div class="row">
			<div class="col-lg-12">
				<p class="giasp">VND <%= product.price %></p>	
			</div>			
		</div>	

		<% if logged_in? && current_user.admin? %>
			<div class="row">				
				<div class="col-lg-5 remove-padding-right text-center" id="watch-form-<%= product.id %>">
					<%= render partial: 'products/watch_form', locals: { product: product } %>
				</div>		
				<div class="col-lg-7">
					<%= link_to "Xem chi tiết", product_path(product), remote: true, class: 'link link-primary form-control' %>
				</div>	
			</div>
			<div class="row">
				<div class="col-lg-5 remove-padding-right text-center">
					<%= link_to "Update", edit_product_path(product), class: 'link link-default form-control' %>
				</div>	

				<div class="col-lg-7 text-center" id="watch-form-<%= product.id %>">
					<%= link_to "Delete", product, method: :delete, data: { confirm: "You sure?" }, remote: true, class: 'link link-default form-control' %>
				</div>		
			</div>

		<% else %>
			<div class="row">		
				<%= form_for current_order.order_items.new, remote: true do |f| %>			
					<div class="col-lg-5 text-center">							
			      <%= f.number_field :quantity, value: 1, min: 1, class: 'form-control' %>     	          
			    </div>
			    <div class="col-lg-7 remove-padding-left">
			    	<%= f.hidden_field :product_id, value: product.id %>	 
			    	<%= f.submit "Them vao gio hang", class: "link link-primary form-control" %>             
			    </div>    
		    <% end %>       
		 	</div>		
			<div class="row">
				<div class="col-lg-5 text-center" id="watch-form-<%= product.id %>">
					<%= render partial: 'products/watch_form', locals: { product: product } %>
				</div>	

				<div class="col-lg-7 remove-padding-left text-center">
					<%= link_to "Xem chi tiết", product_path(product), remote: true, class: 'link link-default form-control' %>
				</div>						
			</div>
		<% end %>	
	</div>
</div>