<%= render 'shared/sub_catalogues', sub_catalogues: @sub_catalogues %>

<div class="col-9 content">	
	<div class="row product-detail">		

		<div class="col-3 product-image">
				<%= link_to image_tag("products/1.jpg", alt: "product-image"), '#' %>					
		</div>	
		<div class="col-9 product-info">
			<div class="row col-12">
				<p>Ten san pham: <%= @product.name %></p>
				<p>Gia: <%= number_to_currency @product.price %></p>
				<p>Thong tin san pham: <%= @product.description %></p>
			</div>

			<div class="row" style="height: 22px">		
					<%= form_for @order_item, remote: true do |f| %>			
					<div class="col-2">							
	          <%= f.number_field :quantity, value: 1, min: 1 %>	          
	          <%= f.hidden_field :product_id, value: @product.id %>	          
	        </div>
	        <div class="col-4">	 
	        	<%= f.submit "Them vao gio hang", class: "btn btn-primary btn-21" %>	               
	        </div>
	        <div class="col-6"></div>
	        <% end %>       
	     </div>
		</div>		

	</div>		
</div>