<!DOCTYPE html>
<html>
<head>
  <title>TheBeautyShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
		<%= render 'layouts/header' %>

		<%= render 'layouts/navbar' %>

		<%= render 'layouts/cart' %>
		
		<div class="row main">

			<%= yield %>

		</div>		
		
		<%= render 'layouts/infor' %>
		
		<%= render 'layouts/footer' %>
	</div>	

</body>
</html>
